<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container{
            background-color: bisque;
            margin-bottom: 20px;
            padding: 10px 0;
        }

        .container a {
            text-decoration: none;
            padding: 10px 5px;
        }

        .container a:hover {
            background-color: gainsboro;
            color: orange;
        }
    </style>
    <title>Add Course</title>
</head>
<body>
    <div class="navbar">
        <div class="container">
            <span>GuruGuru</span>
            <a href="/instructors/<%= instructorId %>">Home</a>
            <a href="./listUsers.html">My Students</a>
            <a href="/logout">Logout</a>
        </div>
    </div>

    <% if(errors){ %>
        <% errors.split(',').forEach(el => { %>
            <p style="color: red;"><%= el %></p>
        <% }) %>
    <% } %>

    <form action="/instructors/<%= instructorId %>/edit/<%= course.id %>" method="post">
        <p>
            <label for="name">Title Course</label><br>
            <input type="text" name="name" value="<%= course.name %>">
        </p>
        <p>
            <label for="duration">Duration</label><br>
            <input type="number" name="duration" value="<%= course.duration %>">
        </p>
        <p>
            <label for="price">Price</label><br>
            <input type="number" name="price" value="<%= course.price %>">
        </p>
        <p> 
            <label for="description">Description</label><br>
            <textarea name="description" id="" cols="30" rows="10"><%= description.description %></textarea>
        </p>
        <p>
            <input type="submit" value="Update">
        </p>
    </form>
</body>
</html>