<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container{
            background-color: bisque;
            margin-bottom: 20px;
            padding: 10px 0;
        }

        .container a {
            text-decoration: none;
            padding: 10px 5px;
        }

        .container a:hover {
            background-color: gainsboro;
            color: orange;
        }

        .feature{
            margin: 10px 0;
        }

        .card{
            max-width: 250px;
            border: 1px solid orange;
            border-radius: 10px;
            margin: 5px 10px;
            float: left;
        }

        
    </style>
    <title>Welcome!</title>
</head>
<body>
    <div class="navbar">
        <div class="container">
            <span>GuruGuru</span>
            <a href="/login">Login</a>
            <a href="/register">Sign Up</a>
        </div>
    </div>

    <div class="feature">
        <form action="/" method="get">
            <input type="search" name="search" placeholder="Search Courses By Title">
            <button type="submit">Search</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Duration</th>
                <th>Instructor</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% courses.forEach((el, index) => { %>
                <tr>
                    <td><%= ++index %></td>
                    <td><%= el.name %></td>
                    <td><%= el.durationFormat() %></td>
                    <td><%= el.Instructor.name %></td>
                    <td><%= el.price %></td>
                    <td>
                        <a href="/detail/<%= el.id %>"><button>Description</button></a>
                        <a href="/login"><button>Enroll</button></a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>